html {
    margin:0;
    padding:0;
    background: hsl(275, 54%, 56%);
    /* background: linear-gradient(117deg, hsl(275, 54%, 56%) 0%, hsl(275, 42%, 36%) 38%, hsl(247, 46%, 12%) 100%); */
    /* background: linear-gradient(109deg, rgba(154,84,204,1) 0%, rgba(104,56,138,1) 38%, rgba(31,25,69,1) 100%); */
    /* background: linear-gradient(117deg, hsl(275, 54%, 56%) 0%, hsl(275, 42%, 36%) 32%, hsl(247, 46%, 12%) 100%); */
}


head {
    /* display: block;
    margin-top: -200px;
    height: 200px;
    background: rgb(154,84,204); */
    /* background: linear-gradient(117deg, hsl(275, 54%, 56%) 0%, hsl(275, 42%, 36%) 38%, hsl(247, 46%, 12%) 100%); */
}

body {
    /* background-image: linear-gradient(109deg, #9A54CC 0%, #68388A 37%, #1F1945 100%); */
    top:0px;
    left:0px;
    position: fixed;
    overflow:hidden;
    /* background: rgb(154,84,204); */
    /* background: linear-gradient(109deg, rgba(154,84,204,1) 0%, rgba(104,56,138,1) 38%, rgba(31,25,69,1) 100%); */
    background: linear-gradient(117deg, hsl(275, 54%, 56%) 0%, hsl(275, 42%, 36%) 38%, hsl(247, 46%, 12%) 100%);
    margin:0;
    padding:0;    
    height: 100%;
    width: 100%;

    font-family: "Open Sans", sans-serif;
}

/*
    box-sizing reset: https://css-tricks.com/box-sizing/
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}  

/* background: #CC3E1D;
background: -webkit-linear-gradient(top left, #CC3E1D, #351ECC);
background: -moz-linear-gradient(top left, #CC3E1D, #351ECC);
background: linear-gradient(to bottom right, #CC3E1D, #351ECC); */


/* .Formpopup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0px;
    background: black;
    -webkit-transform: translate3d( 0, -100%, 0 );
    -moz-transform: translate3d( 0, -100%, 0 );
    -ms-transform: translate3d( 0, -100%, 0 );
    transform: translate3d( 0, -100%, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(.53, .09, .94, .53);
    -moz-transition: -moz-transform .3s cubic-bezier(.53, .09, .94, .53);
    -ms-transition: -ms-transform .3s cubic-bezier(.53, .09, .94, .53);
    transition: transform .3s cubic-bezier(.53, .09, .94, .53);
    pointer-events: none;
}

.Formpopup .content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: scroll;
    z-index: 0;
}

.Formpopup.is-shown {
    -webkit-transform: translate3d( 0, 0px, 0 );
    -moz-transform: translate3d( 0, 0px, 0 );
    -ms-transform: translate3d( 0, 0px, 0 );
    transform: translate3d( 0, 0px, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .20, .15, 1);
    -moz-transition: -moz-transform .3s cubic-bezier(0, .20, .15, 1);
    -ms-transition: -ms-transform .3s cubic-bezier(0, .20, .15, 1);
    transition: transform .3s cubic-bezier(0, .20, .15, 1);
    display: block;
    pointer-events: all;
}

.Formpopup .button-close,
.Formpopup .button-close:focus {
    position: fixed;
    z-index: 1;
    top: 6px;
    right: 6px;
    border-color: hsl(0,0%,0%);
    color: hsl(0,0%,60%);
    font-size: 15px;
    font-family: inherit;
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,100%,.1);
    background: hsl(0,0%,12%) -webkit-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) -moz-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) -ms-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
}

.Formpopup .button-close.active {
    background: hsl(0,0%,10%) -webkit-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) -moz-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) -ms-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
} */


.tops-logo {
    display: none;
}
